# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/4.filedir/access
src/4.filedir/cdpwd
src/4.filedir/changemod
src/4.filedir/devrdev
src/4.filedir/filetype
src/4.filedir/ftw8
src/4.filedir/mycd
src/4.filedir/umask
src/4.filedir/unlink
src/4.filedir/zap
src/5.stdio/buf
src/5.stdio/fgetsfputs
src/5.stdio/getcharbug
src/5.stdio/getcputc
src/5.stdio/memstr
src/5.stdio/mkstemp
src/5.stdio/tempfiles
src/14.advio/deadlock
src/14.advio/mandatory
src/14.advio/mcopy2
src/14.advio/nonblockw
src/14.advio/rot13a
src/14.advio/xlate
src/14.advio/rot13c2
src/1.intro/getcputc
src/1.intro/hello
src/1.intro/ls1
src/1.intro/mycat
src/1.intro/shell1
src/1.intro/shell2
src/1.intro/testerror
src/1.intro/uidgid
src/datafiles/strftime
src/db/libapue_db.so.1
src/db/t4
src/environ/doatexit
src/environ/echoarg
src/environ/getrlimit
src/environ/hello1
src/environ/testjmp
src/ipc1/add2
src/ipc1/add2stdio
src/ipc1/devzero
src/ipc1/myuclc
src/ipc1/pipe1
src/ipc1/pipe2
src/ipc1/pipe4
src/ipc1/popen1
src/ipc1/popen2
src/ipc1/tshm
src/ipc2/bindunix
src/ipc2/pollmsg
src/ipc2/sendmsg
src/ipc2/open/openclient
src/ipc2/open.fe/openclient
src/ipc2/opend/opend.poll
src/ipc2/opend/opend.select
src/ipc2/opend.fe/opend
src/proc/echoall
src/proc/exec1
src/proc/exec2
src/proc/fork1
src/proc/fork2
src/proc/nice
src/proc/pracct
src/proc/pruids
src/proc/systest1
src/proc/systest3
src/proc/tellwait1
src/proc/tellwait2
src/proc/test1
src/proc/times1
src/proc/vfork1
src/proc/wait1
src/pty/pty
src/relation/orphan3
src/signals/child
src/signals/critical
src/signals/mask
src/signals/read1
src/signals/read2
src/signals/reenter
src/signals/sigtstp
src/signals/sigusr
src/signals/suspend1
src/signals/suspend2
src/signals/systest2
src/signals/tsleep2
src/sockets/findsvc
src/sockets/ruptime
src/sockets/ruptime-dg
src/sockets/ruptimed
src/sockets/ruptimed-dg
src/sockets/ruptimed-fd
src/termios/csize
src/termios/settty
src/termios/t_getpass
src/termios/t_isatty
src/termios/t_raw
src/termios/t_ttyname
src/termios/winch
src/threadctl/atfork
src/threadctl/suspend
