# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/4.filedir/access
src/4.filedir/cdpwd
src/4.filedir/changemod
src/4.filedir/devrdev
src/4.filedir/filetype
src/4.filedir/ftw8
src/4.filedir/mycd
src/4.filedir/umask
src/4.filedir/unlink
src/4.filedir/zap
src/5.stdio/buf
src/5.stdio/fgetsfputs
src/5.stdio/getcharbug
src/5.stdio/getcputc
src/5.stdio/memstr
src/5.stdio/mkstemp
src/5.stdio/tempfiles
src/14.advio/deadlock
src/14.advio/mandatory
src/14.advio/mcopy2
src/14.advio/nonblockw
src/14.advio/rot13a
src/14.advio/xlate
src/14.advio/rot13c2
